<h1>Listing items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantunpaid</th>
    <th>D1</th>
    <th>D2</th>
    <th>D3</th>
    <th>D4</th>
    <th>D5</th>
    <th>D6</th>
    <th>D7</th>
    <th>D8</th>
    <th>D9</th>
    <th>D10</th>
    <th>Splitinto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= item.quantunpaid %></td>
    <td><%= item.d1 %></td>
    <td><%= item.d2 %></td>
    <td><%= item.d3 %></td>
    <td><%= item.d4 %></td>
    <td><%= item.d5 %></td>
    <td><%= item.d6 %></td>
    <td><%= item.d7 %></td>
    <td><%= item.d8 %></td>
    <td><%= item.d9 %></td>
    <td><%= item.d10 %></td>
    <td><%= item.splitInto %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
