<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Quantunpaid:</b>
  <%= @item.quantunpaid %>
</p>

<p>
  <b>D1:</b>
  <%= @item.d1 %>
</p>

<p>
  <b>D2:</b>
  <%= @item.d2 %>
</p>

<p>
  <b>D3:</b>
  <%= @item.d3 %>
</p>

<p>
  <b>D4:</b>
  <%= @item.d4 %>
</p>

<p>
  <b>D5:</b>
  <%= @item.d5 %>
</p>

<p>
  <b>D6:</b>
  <%= @item.d6 %>
</p>

<p>
  <b>D7:</b>
  <%= @item.d7 %>
</p>

<p>
  <b>D8:</b>
  <%= @item.d8 %>
</p>

<p>
  <b>D9:</b>
  <%= @item.d9 %>
</p>

<p>
  <b>D10:</b>
  <%= @item.d10 %>
</p>

<p>
  <b>Splitinto:</b>
  <%= @item.splitInto %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
