<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Unpaidquant:</b>
  <%= @item.unpaidquant %>
</p>

<p>
  <b>Diner1q:</b>
  <%= @item.diner1q %>
</p>

<p>
  <b>Diner2q:</b>
  <%= @item.diner2q %>
</p>

<p>
  <b>Diner3q:</b>
  <%= @item.diner3q %>
</p>

<p>
  <b>Diner4q:</b>
  <%= @item.diner4q %>
</p>

<p>
  <b>Diner5q:</b>
  <%= @item.diner5q %>
</p>

<p>
  <b>Diner6q:</b>
  <%= @item.diner6q %>
</p>

<p>
  <b>Diner7q:</b>
  <%= @item.diner7q %>
</p>

<p>
  <b>Diner8q:</b>
  <%= @item.diner8q %>
</p>

<p>
  <b>Diner9q:</b>
  <%= @item.diner9q %>
</p>

<p>
  <b>Diner10q:</b>
  <%= @item.diner10q %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
