<!DOCTYPE html>
<html lang="en">
<p>
	 <header class="navbar navbar-fixed-top">
	   <div class="navbar-inner">
		 <div class="container-fluid">
		   <%= link_to "payfast", root_path, id: "logo" %>
		   <nav>
			 <ul class="nav pull-right">
			   <li><%= link_to "Home", root_path %></li>
			   <% if signed_in? %>
				 <li><%= link_to "New Checkout", "https://fling.seas.upenn.edu/~liva/cgi-bin/pages/edit_tables.php" %></li>
				 <% if current_user.email == "manager@restaurant.com" %>
					 <li><%= link_to "Mailing List", mailinglist_path %></li>
				 <% end %>
				 <li><%= link_to "Sign out", signout_path, method: :delete %></li>
			   <% else %>
				 <li><%= link_to "Sign in", signin_path %></li>
			   <% end %>
			 </ul>
		   </nav>
		 </div>
	   </div>
	 </header>
</p>
</html>